<div class="overflow-x-auto">
    {{#if result.signedUp}}
    <div class="mt-4">
        <div class="card w-96 bg-primary text-primary-content">
            <div class="card-body">
                <div class="card-actions justify-end">
                    <a class="btn" href="/competitions">Nastavi na prikaz natjecanja</a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    <table class="table">
        <!-- head -->
        <thead>
            <tr>
                <th>ID prijave</th>
                <th>Ime natjecatelja</th>
                <th>Ime natjecanja</th>
                <th>Broj bodova</th>
                <th>unos bodova</th>

            </tr>
        </thead>
        <!-- body -->
        <tbody>
            {{#each result.items}}
            <tr>
                <th>{{this.id}}</th>
                <td>{{this.natjecatelj}}</td>
                <td>{{this.natjecanje}}</td>
                <td>{{this.score}}</td>
                <td class="flex flex-wrap gap-2">
                    {{#if ../user.is_admin }}
                    <form method="post"
                        action="/competitions/score/{{this.id}}"
                        class="flex flex-col gap-2">
                        {{> form_buttons }}
                    </form>
                    <input type="number" name="result" placeholder="Unesi bodove"
                        class="input input-bordered w-full max-w-xs" />
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>